<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="../libs/vue.js"></script>
</head>

<body>
  <div id="app">
    <ul v-for="(ingredient, i) in ingredients">
      <li> {{ ingredient }} ({{ i }})</li>
    </ul>
    <hr>
    <template v-for="person in people">
      <h1>{{ person.name }}</h1>
      <p>{{ person.age }}</p>
    </template>
    <hr>
    <ul v-for="person in people">
      <li>
        <div v-for="(value, key) in person">
          {{ key }}: {{ value }}</li>
      </div>
    </ul>
  </div>
  <script src="app.js"></script>
</body>

</html>