$size: 300px;


#app {
  height: 100vh;
  
  * {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
  }

  .squares {
    flex-wrap: wrap;
    .demo {
      height: $size;
      width: $size;
      background: grey;
      margin: 10px; 
    }
    
    .red {
      background: red;
    }
    
    .blue {
      background: blue;
    }
    
    .green {
      background: green;
    }
  }
}